<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="menu"
        data-role="view"
        data-init="app.viewModels.employeeViewModel.onInitList"
        data-show="app.viewModels.employeeViewModel.onShowList"
        data-model="app.viewModels.employeeViewModel"
        data-title="Employees">

        <ul id="employee-list"
            data-role="listview"
            data-bind="source: dataSource, click: onClickListItem"
            data-template="employee-list-template">
        </ul>
        <script type="text/x-kendo-template" id="employee-list-template">
            <span class="image"><img src="#: ImageURI() #" /></span>
            <span class="title">#: FullName() #</span>
            <span class="address">#: Address #, #: City #, #: State #</span>
            <span class="phone">#: HomePhone #</span>
        </script>

    </div>
</body>
</html>