<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="login"
    data-role="view"
    data-init="app.viewModels.loginViewModel.onInit"
    data-show="app.viewModels.loginViewModel.onShow"
    data-model="app.viewModels.loginViewModel"
    data-title="Login to Sports2000">

    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    <form>
        <ul id="login-list-view" data-role="listview" data-style="inset">
            <li>
                <label>
                    User:
                    <input type="text" id="username" style="width: 70%" data-bind="value: username, enabled: isOnline" autocapitalize="off" autocorrect="off" />
                </label>
            </li>
            <li>
                <label>
                    Password:
                    <input type="password" id="password" style="width: 70%" data-bind="value: password" />
                </label>
            </li>
            <li>
                <input style="width: 100%" id="login" type="submit" data-role="button" class="button button-submit" data-bind="click: login, disabled: isLoginDisabled"/>
            </li>
        </ul>
    </form>
</div>
</body>
</html>

